.container {
  position: relative;
  overflow: hidden;
}

.actor {
  position: absolute;
  will-change: transform;
}

.child-wrapper {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
}

.child-wrapper.align-center-x {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.child-wrapper.align-center-y {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.touch-action-none {
  touch-action: none;
}

.user-select-none {
  user-select: none;
}
