.container {
  position: relative;
  overflow: hidden;
  touch-action: none;
  width: 100%;
  height: 100%;
}

.actor {
  position: absolute;
  will-change: transform;
  height: 100%;
}

.child-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}
